*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: sans-serif;
}
body{
}

header{
    width: 100%;
    margin-top: 10px;
}

nav {
    width: 100%;
}

nav ul{
    position: absolute;
    top: 7.5em;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-end;
    font-size: 18px;
    background-color: #f47878;
    width: 100%;
    text-align: center;
    color: white;
    min-width: 200px;
}

nav a{
    text-decoration: none;
    }

nav li:not(#placeHolder){
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 8px;
}
#myLogo{
    width:  100%;
    min-width: 200px;
    top:0px;
    position: absolute;
    text-align: center;
}

#logo{
    padding-bottom:8px;
    width: 117px;
    max-width: 117px;
}

#hamburger{
    visibility: hidden; /* leave hidden until I can figure out how to show hide menu*/
    float: right;
    margin-top: 0px;
    position: relative;
    padding: 1em;
}
#socialLinks{
    position: relative;
    display:flex;
    flex-direction: column;
    top: 0px;
    z-index: 1000;
}
#socialLinks a{
    padding-left: 10px;
    padding-top: 6px;
    color: gray;
}

main{
    position: absolute;
    margin-top: 17.5em;
    width: 100%;
    min-width: 250px;
}
.home{
    width: 100%;
}

#homeHeader{
    width: 100%;
    text-align: center;
}

#homeHeader p{
    width: 100%;
    padding-top: 2em;
    margin: 0 auto;
}

/*rule for images so they do not exceed container width*/
img{
    width: 100%;
}
.contact{
    text-align: center;
    padding-top: 20px;
}
#contactImg{
    max-width: 400px;
    min width: 250px;
}
