@media screen and (min-width: 400px){
    nav {
        margin: 0 auto;
        max-width: 800px;
        position: relative;
    }
    nav ul{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        color: #3e3f3f;
        background-color: white;
    }
    nav li:not(#placeHolder){
        padding: 0;
        border-bottom: 4px solid #f47878;
        border-top: 0px;
        width: 80px;
    }
    #socialLinks{
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    #socialLinks a{
        text-align: left;
    }
}


/*




.template{
    display: none;
}
hr {
    width: 45%;
    margin: 0 auto;
}
/*#socialLinks{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height: 0px;*/
}
#companyInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#companyLogo{
    width: 100px;
    height: auto;
    padding-right: 25px;
}
.projectDate{
    padding-left: 65px;
}
